@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cuprum:wght@400;500&family=Dela+Gothic+One&family=Jura:wght@300;400;600&family=Permanent+Marker&family=Press+Start+2P&display=swap');
h1{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px; 
}
body{
    background-color: rgba(218, 216, 216, 0.432);
    align-self: center;  
    margin: 0;

}

h2{
    font-family: 'Amatic SC', cursive;
    font-size: 30px; 
    text-align: center;
    font-size: 40px;
}
.container{
    margin-bottom: 20px;
}

.bg-yellow{
    background:#fff4d1 ;
}

.bg-green{
    background: #deffe0 ;
}

.bg-red{
    background: #ffe3e3 ;
}

.bg-blue{
    background: #b4ccff;
}

.card{
    padding: 15px 20px;
    /* margin-bottom: 10px;
    border-radius: 20px; */
}
p{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}
table td{
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
}
p {
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
}
ul li{
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;}

address{
        text-align: right;
    }
    