
.container span{
    float: right;
}

.container > span:hover::before {
    content: url('star1.png');
    position: absolute;
}

.container > span:hover:before,
.container > span:hover ~ span:before {
   content: url('star1.png');
   position: absolute;
}

.container > span{
    text-align: center;
}

.container{
    float:left;
}
