body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: grid;
    grid-template-columns:300px 1fr;
    
 }
.start{
    background-color: #ADD8E6; 
    font-size: 30px; 
    font-variant: normal;
    text-align: center;
    color: #0000FF;
    padding: 30px;
   
}
.menu{
    
    font-size: 20px;
    vertical-align: top;
    background-color: #f0e68c;
    padding: 10px;
    
}

img{
    width: 300px;
    margin-right: 15px;
    float: left;
}
p{
    font-size: 20px;
}
h2{
    text-align: center;
    font-variant: normal;
    margin: 0;
    padding: 10px;
}

.content{
    background: url(ball.png) right top repeat-y;
    background-size: 60px;
    margin-left: 15px;
 

}