@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

.box-model > div {
    background: rgb(253, 250, 242);
    height: 1650px;
    width: 50%;
    float: left;
    align-content: center;
    box-sizing:border-box;
    border: 1px solid darkgrey;
}

body{ 
    max-width: 50%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}

