*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  #FFFFFF;
}

.main{
    position: relative;
    background: #1F2326;
    height: 2323px;
    width: 3099px;

}
    

.base1{
    margin: 0 auto;
}

.fitst-ellipse{
    position: absolute;
}

.second-ellipse{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.third-ellipse{
    position: absolute;
    bottom: 0px;
    left: 177px;
}

.sixth-ellipse{
    position: absolute;
    bottom: 178px;
    left: 112px;
}

.fourth-ellipse{
    position: absolute;
    top: 182px;
    right:104px;
}
.fifth-ellipse{
    position: absolute;
    top: 475px;
    right:55px;
}

.seventh-ellipse{
    position:absolute;
    top: 74px;
    right: 219px;
}

.logo1{
    position:absolute;
    top: 80px;
    left: 80px;
}

.container{
    position: absolute;
    left:218px ;
    bottom: 304px;
    background-color: #FF4656 ;
    width: 2660px;
    height: 1760px;
    margin: 0 auto;
    border-radius: 50px;
}
.header{
    background-color: #1F2326;
    height: 132px;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;

}

.info{
    background: url('img/background.png');
    height: 1499px;
    left:200px;

}


.footer{
    background: #F8F8F8;
    height: 132px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
}

.logo2{
    position:absolute;
    top: 115px;
    left: 210px;
}

.list1 li{
    float: left;
    margin-left: 60px;
    margin-top: 46px;

}

.list2 li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 55px;
    float:left;

}
.list2 li{
    margin-left: 86px;
}

.list2 a::after{
    content: url('img/Polygon.png');
    padding-right: 13px;
}

.gallery{
    display: flex;
    position: relative;
    bottom: -115px;
    justify-content: flex-end;
    margin-right: -188px;
}

.gallery > div{
    flex-basis: 440px;
    margin-right: 144px;

}

.gallery img{
    border: 2px solid #1F2326;
    background: #1F2326;
    border-top-left-radius: 15px;
}

#four4{
    background: #FFFFFF;
}

.cube{
    position: absolute;
    left: 1085px;
    bottom: 519px;
}

.blocks div{
    height: 110px;
    background: #1F2326;
}

.blocks{
    display: flex;
    position: relative;
    top: 41px;
    left: 532px;

}

.blocks > div {
    flex-basis: 440px;
    margin-right: 144px;
    border: 2px solid #F8F8F8;
}



.mini-gallery1 img{
    float:left;
    padding-top: 19px;
    padding-right: 5px;
    padding-left: 42px;
}

.mini-gallery2 img{
    float:left;
    padding-top: 26px;
    padding-right: 5px;
    padding-left: 42px;
}

.mini-gallery3 img{
    float:left;
    padding-top: 26px;
    padding-left: 38px;
}

#mini-gallery4{
    background: #FFFFFF;
    border: 2px solid #1F2326;
}

#mini-gallery4 img{
    float:left;
    padding-top: 32px;
    padding-left: 43px;
}



.allimg img{
    position: absolute;
}

.agents{
    top: 250px;
    left: 232px;
}

.phoenix{
    top: 280px;
    left: 468px;
}

.jett{
    top: 280px;
    left: 1056px;
}

.sova{
    top: 280px;
    left: 1643px;
}

.sage{
    top: 280px;
    left: 2236px;
}

.UK{
    top: 280px;
    left: 543px;

}

.SK{
    top: 280px;
    left: 1135px;
}

.russia{
    top:280px;
    left: 1724px;
}

.china{
    top:280px;
    left: 2317px;
}


.block2{
    position: relative;
    top: -625px;
    left: 95px;
    display: flex;
}

.block2 div{
    flex-basis: 724px;
    height: 248px;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-top-left-radius:10px ;

}

.block2 > div{
    margin-right: 80px;
}

.block2 img{
    position: absolute;
}

.basic{
    top:31px;
    left:58px;
}

.signature{
    top:31px;
    left:858px;
}

.ultimate{
    top:31px;
    left:1660px;
}

.orb{
    top:104px;
    left:58px;
}

.orb2{
    top:104px;
    left:858px;
}

.res{
    top:104px;
    left:1660px;

}

p{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1F2326;
}

.block2-1 p{
    top:161px;
    left:58px;
}

.block2-2 p{
    top:161px;
    left: 858px;
}

.block2-3 p{
    top:161px;
    left:1660px;
}




