@media all and (max-width:620px){
    .start{
        display: none;
    }
    .content{
        display: flex;
        flex-direction: column;
        background: none;
    }
    .container{
        flex-direction: column-reverse;
        background: none;
    }
    img{
        width: 100%;
    }
    .menu ul li{
        display: inline;
          
    }
    .menu ul{
       padding-bottom: 0px;
        padding-left: 0px;
       
    }
    .menu{
          background: none;
       flex-basis: auto;
    }
    h3{
        padding: 0px;
        margin: 0px;
    }
    }